<div class="login_body">
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui center inverted aligned icon header">
      <i class="student icon"></i>
      Sign in
    </h2>
    

    <%= form_for(:session, url: login_path, :html => {:class => "ui large form"}) do |f| %>
    <div class="ui stacked segment blur">
      <div class="field">
        <div class="ui left icon input">
          <i class="blue user icon"></i>
          <%= f.text_field :user_id, placeholder: "Your ID" %>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="blue lock icon"></i>
          <%= f.password_field :password, placeholder: "Password" %>
        </div>
      </div>

      <%= f.submit "Log in", class: "ui fluid large blue submit button" %>


    </div>

    <% end %>



    
  </div>
</div>
</div>