
<div class="item">
    <i class="large folder middle aligned icon"></i>
    <div class="content">
     <%= link_to student_course.title, course_path(student_course), class: "header" %>
      <div class="description"><%=student_course.course_id %> </div>
    </div>
</div>

