
<div class="item">
    <i class="large folder middle aligned icon"></i>
    <div class="content">
     <%= link_to student_course.title, course_path(student_course), class: "header" %>
      <div class="description">Registered <%= time_ago_in_words(student_course.created_at) %> ago.</div>
    </div>
</div>

