

    <div class="ui centered container">
   
    <h4 class="ui horizontal divider  header">
  <i class="browser icon"></i>
  Your Teaching Courses
</h4>
     <div class="ui relaxed divided list">
      <% if @lecturer_courses.any? %>
            <%= render partial: "lecturer_course", collection: @lecturer_courses %>
            <% else %>
            <div class="ui message">
  <div class="header">
    You don't have any courses to teach
  </div>
  
  </div>
            <% end %>
      </div>
   
  
 
</div>

    

